.voting-button {
  color: #550527;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #550527;
}

.voting-button--selected {
  color: #FFF;
  background-color: #550527;
  border: 2px solid white;
}
